<h2 class="titolo">Utenti</h2>

<div>
  <table class="table">
  <thead>
    <tr class="lista">
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ruolo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.nome}}</td>
      <td>{{user.cognome}}</td>
      <td>{{user.email}}</td>
      <td><span *ngFor="let item of user.roles">{{item.roleName}}</span></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">

    <li *ngIf="!response.first; else elsePrevious" class="page-item" (click)="goToPage(response.number - 1)"><a class="page-link">Previous</a></li>
    <ng-container *ngFor="let page of pages">
      <li *ngIf="page < response.number + 5 && page > response.number - 5" class="page-item" (click)="goToPage(page)"><a [ngClass]="{'active-pagination' : page == response.number}" class="page-link">{{page + 1}}</a></li>
    </ng-container>
    <li *ngIf="!response.last" class="page-item" (click)="goToPage(response.number + 1)"><a class="page-link">Next</a></li>

    <ng-template #elsePrevious><li class="page-item"><a class="page-link">Previous</a></li></ng-template>

  </ul>
</nav>
</div>
